.count-item{
    width: 200px;
    display: flex;
    flex-direction: column;
}

.count-item .control-count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.control-count button{
    width: 40px;
    height: 40px;
    background-color: rgb(42, 42, 42);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.control-count button:hover{
    border: 1px solid rgb(0, 129, 235);
    cursor: pointer;
}

.control-count p{
    font-weight: bold;
}

.boton-add-cont{
    padding: 10px 0;
    background-color: rgb(42, 42, 42);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.boton-add-cont:hover{
    border: 1px solid rgb(0, 129, 235);
    color: rgb(0, 129, 235);
    cursor: pointer;
}