.registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.registro .registro-formu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 31, 31);
    width: 500px;
    padding: 50px 0;
    border-radius: 15px;
}

.registro .registro-formu .input-caja{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 17px;
    margin: 10px 0;
}

.registro .registro-formu .input-caja .input{
    color: black;
    margin-top: 10px;
    font-size: 17px;
    padding: 7px;
}

.registro .registro-formu .enviar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    font-size: 17px;
    margin-top: 20px;
    padding: 7px;
    background-color: rgb(111, 9, 27);
    border: none;
    color: white;
}

.registro .registro-formu .boton-a-login {
    display: flex;
    align-items: center;
}

.registro .registro-formu .boton-a-login p {
    padding-right: 10px;
}

.registro .registro-formu .boton-a-login .link {
    color: rgb(255, 30, 63);
}