.navbar {
    width:100%;
    height:150px;
    background-color:rgb(20, 20, 20);
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    cursor:default;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar .logo {
    height:150px;
}

.categorias {
    display: flex;
    list-style: none;
    font-size: 12px;
}

.categorias li {
    padding: 0 15px;
    box-sizing: border-box;
}

.categorias li:hover {
    border-bottom: 3px solid rgb(0, 129, 235);
}

.categorias li a {
    text-decoration:none;
    color: rgb(88, 180, 255);
}